*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg: #333;
}


html {
  color-scheme: light dark;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  hanging-punctuation: first allow-end last;
}

body {
  background: var(--main-bg);
}

.flex {
  display: flex;

  & .row {
    flex-direction: row;
  }

  & .col {
    flex-direction: column;
  }
}